body {
    font-family: "arial", "helvetica";
}
p {
    border: solid 5px blueviolet;
}
ul {
    outline: 1px dotted red;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: strech;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    outline: 1px dotted green;
    list-style: none;
    margin: 0;
    padding: 0;
}
.especial1 {
    background-color: yellow;
}
.especial2 {
    background-color: cyan;
}
ol, ol li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol {
    outline: 1px dotted red;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px 100px 50px;
}
ol li {
    outline: 1px dotted green;
}
li.importante {
    background-color: yellow;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}