body{
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
    outline: 1px dotted red;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:stretch;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
   height: 200px;
}
ol{
    list-style: none;
    margin: 0;
    padding: 0;
    outline: dotted red;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px 100px 50px;
}
ol li{
    list-style: none;
    margin: 0;
    padding: 0;
    outline: dotted green;
}